.bannerContent p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bannerContent button {
  margin-bottom: 80px;
}

.bannerInfo > img {
  max-width: 320px;
  width: 100%;
  border-radius: 400px;
}
@media (min-width: 1024px) {
  .bannerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 161px;
  }

  .bannerContent h1 {
    width: 300px;
  }
  .bannerInfo img {
    margin-bottom: 80px;
  }
}
