.bannerContent p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bannerContent button {
  margin-bottom: 80px;
}

.bannerInfo > img {
  max-width: 300px;
  width: 100%;
  border-radius: 255px;
}
.bannerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 830px) {
  .bannerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 161px;
  }

  .bannerContent h1 {
    width: 300px;
  }
  .bannerInfo img {
    margin-bottom: 80px;
  }
}
