.projectItem {
  width: 100%;
  max-width: 1000px;
  padding: 1rem 1.8rem;
  position: relative;
}

.projectItem img {
  position: absolute;
  top: 0.6875rem;
  right: 0.8125rem;
}

.projectContent {
  margin-top: 10px;
}

.projectContent p {
  margin-top: 15px;
  margin-bottom: 20px;
}
