.projectItem {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 1.8rem;
}

.projectContent {
  margin-top: 10px;
}

.projectContent p {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.anchors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
