.projectItem {
  padding: 0.5rem 1.8125rem;
  position: relative;
}

.projectItem img {
  position: absolute;
  top: 0.6875rem;
  right: 0.8125rem;
}

.projectContent {
  width: 150px;
  margin-top: 10px;
}

.projectContent p {
  margin-top: 15px;
  margin-bottom: 20px;
}
