.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 2.4375rem;
  font-family: var(--font-primary);
  font-size: clamp(0.4rem, 3vw, 1rem);
  font-weight: 600;
  color: var(--grey-scale2);
  border-radius: 0.75rem;
  padding: 0 1.8125rem;
  transition: 0.4s;
  border: 0.0625rem solid var(--grey-scale1);
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--primary-color-hover);
}
