:root {
  --primary-color: #40c057;
  --primary-color-hover: #8ce99a;
  --grey-scale2: #000; /* Definido como preto por padrão */
  --body-background: #fff; /* Definido como branco por padrão */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-alternative: "IBM Plex Sans", sans-serif;
}

[data-theme="dark"] {
  --body-background: #000;
  --primary-color: #40c057;
  --primary-color-hover: #8ce99a;
  --grey-scale2: #fff; /* Mudado para branco no tema escuro */
}

body {
  background-color: var(--body-background);
}
