:root {
  --primary-color: #40c057;
  --primary-color-hover: #8ce99a;
  --grey-scale1: #000000;
  --grey-scale2: #ffffff;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

body {
  background-color: var(--grey-scale1);
}
