.title {
  font-family: var(--font-primary);
  font-weight: 800;
  line-height: 1.4;
  color: var(--grey-scale2);
}

.title.lg {
  font-size: clamp(2.375rem, 5vw, 2.75rem);
}

.title.md {
  font-size: clamp(2.25rem, 5vw, 2.5rem);
}

.title.sm {
  font-size: 1.375rem;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-scale2);
  line-height: 1.8;
  font-family: var(--font-primary);
}

.anchor {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.875rem;
  transition: 1s;
}

.anchor:hover {
  border-bottom: 1px solid var(--primary-color-hover);
}
.nav {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: var(--font-primary);
  color: var(--grey-scale2);
  line-height: 1.0588rem;
}

.username {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4063rem;
  color: var(--primary-color);
}
