.projectContent h2 {
  margin-bottom: 1.25rem;
}

.projectList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
}

.projectList li {
  border-radius: 1.5625rem;
  border: 1px solid var(--grey-scale2);
  width: 285px;
  height: 183px;
}

@media (min-width: 910px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .projectList li {
    width: 439px;
    height: 183px;
  }
}
