.projectContent h2 {
  margin-bottom: 1.25rem;
}

.projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}
@media (min-width: 500px) {
  .projectList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
