.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.header {
  border-bottom: 3px solid var(--primary-color);
}
.Logo {
  font-family: var(--font-alternative);
  font-weight: 700;
  font-size: clamp(2.2rem, 3vw, 4rem);
  font-style: italic;
  line-height: 28.6px;
  color: var(--primary-color);
}

.Nation {
  width: 100%;
  max-width: 23px;
  cursor: pointer;
}

.links > a {
  color: var(--grey-scale2);
}

.links > a:hover {
  text-decoration: underline;
}

.hamburger {
  display: block;
  color: var(--grey-scale2);
}

.links {
  display: none;
}

.menu {
  display: block;
}

.mobileLinks {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
}

.hamburguerComponent {
  background-color: var(--grey-scale2);
}

@media (min-width: 800px) {
  .links {
    display: flex;
    flex-direction: row;
    gap: 3.75rem;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 910px) {
  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
