.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}

.links > img {
  width: 100%;
  max-width: 21px;
  cursor: pointer;
}

@media (min-width: 910px) {
  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headerContent img {
    width: 60px;
    height: 18px;
  }
}
