.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.Logo {
  font-family: var(--font-alternative);
  font-weight: 700;
  font-size: clamp(2.2rem, 3vw, 4rem);
  font-style: italic;
  line-height: 28.6px;
  color: var(--primary-color);
}

.Nation {
  width: 100%;
  max-width: 23px;
  cursor: pointer;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}

.links > a {
  color: var(--grey-scale2);
}

.links > a:hover {
  text-decoration: underline;
}

@media (min-width: 910px) {
  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
